.dataTables_scroll {
  overflow: auto;
}

.required:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

ul.worker-info {
  li {
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.collapse-decision {
  .col-6 {
    p {
      margin-bottom: 8px !important;
    }
    p:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.workers-table {
  font-size: 15px;
  width: 1200px !important;
  th:last-child {
    width: 90px !important;
  }
}

.js-contract-table {
  width: 1050px !important;
  font-size: 14px;
}

.message-error {
  margin-bottom: 0 !important;
}

.form-group {
  margin-bottom: 8px;
  label {
    font-weight: normal !important;
    margin-bottom: 2px;
  }
  p {
    margin-bottom: 5px;
  }
}
