.dataTables_scroll {
  overflow: auto;
}

table {
  td {
    i {
      font-size: 11px !important;
    }
  }
}

.required:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

ul.worker-info {
  li {
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.collapse-decision {
  .col-6 {
    p {
      margin-bottom: 8px !important;
    }
    p:last-child {
      margin-bottom: 0 !important;
    }
  }
}
