.dataTables_scroll {
  overflow: auto;
}

table td i {
  font-size: 11px !important;
}

.required:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

ul.worker-info li {
  margin-bottom: 8px;
  font-size: 14px;
}

